html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}
@font-face {
  font-family: 'vcr_osd_monoregular';
  src: url('/assets/fonts/vcr/vcr_osd_mono_1.001-webfont.eot');
  src:
    url('/assets/fonts/vcr/vcr_osd_mono_1.001-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/vcr/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
    url('/assets/fonts/vcr/vcr_osd_mono_1.001-webfont.woff') format('woff'),
    url('/assets/fonts/vcr/vcr_osd_mono_1.001-webfont.ttf') format('truetype'),
    url('/assets/fonts/vcr/vcr_osd_mono_1.001-webfont.svg#vcr_osd_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  overflow: hidden;
}

body {
  background: url('/assets/bg.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'vcr_osd_monoregular', 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-size: 3rem;
  background-color: #0a1a3a;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.logo {
  background: url('/assets/logo.svg') no-repeat center center;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 442px;
  height: 346px;
  position: absolute;
  z-index: 200;
}

.grain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 15;
  opacity: .2;
  pointer-events: none;
  overflow: hidden;
}

.key {
  width: 5%;
  height: 200px;
  position: relative;
  float: left;
}

.black + .white {
  margin-left: -3%;
}

/* PIANO */

.piano-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.piano {
  margin: 400px auto 0;
  height: 400px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
  -webkit-animation: piano .6s .8s ease;
          animation: piano .6s .8s ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease
}

.piano::before,
  .piano::after{
  content: '';
  position: absolute;
  background-clip: content-box;
  top: 0;
  left: 6px;
  right: 6px;
  bottom: 0;
  -webkit-transform: translateZ(-76px);
          transform: translateZ(-76px);
  box-shadow: 0 0 40px fade(#444, 40%), 0 0 0 100px white;
}

.piano::after{
  left: 25px;
  right: 25px;
  bottom: auto;
  height: 79px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.white {
  /* top */
  background-color: #edefee;
  background-clip: content-box;
  margin: 0 2px;
  outline: none;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: background-color .3s ease, -webkit-transform .3s ease;
  transition: background-color .3s ease, -webkit-transform .3s ease;
  transition: background-color .3s ease, transform .3s ease;
  transition: background-color .3s ease, transform .3s ease, -webkit-transform .3s ease

  /* 3D front key effect */

  /* 3D front key effect */
}

.white:active{
  -webkit-transform: rotateX(-7deg);
          transform: rotateX(-7deg);
}

.white:hover{
  background-color: white;
}

.white:hover::before{
  background: white;
}

.white::before,
  .white::after{

  /* height stukje */
  content: '';
  background: #ccc;
  position: absolute;
  left: 0;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.white::after{
  top: 100%;
  width: 100%;
  height: 36px;

  /* hoogte van de key */
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.black {
  height: 120px;
  color: #444;
  width: 4%;
  z-index: 10;
  margin-left: -1%;
  background-color: black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: background .3s ease, -webkit-transform .3s ease;
  transition: background .3s ease, -webkit-transform .3s ease;
  transition: background .3s ease, transform .3s ease;
  transition: background .3s ease, transform .3s ease, -webkit-transform .3s ease
}

.black:active{
  -webkit-transform: rotateX(-5deg) translateZ(20px);
          transform: rotateX(-5deg) translateZ(20px);
}

.black::before{
  content: '';
  position: absolute;
  background: #444;
  border-top-left-radius: 6px;
  top: 0;
  height: 100%;
  width: 39px;
  -webkit-transform-origin: left;
          transform-origin: left;
  left: 1px;
  -webkit-transform: rotateY(93deg);
          transform: rotateY(93deg);
  box-shadow: inset -50px 0 50px -50px black;
}

.black::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 60px solid black;
  height: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  box-shadow: 0 7px 20px fade(black, 25%),
      0 3px 5px -2px fade(white, 80%),
      0 5px,
      0 20px darken(#444, 2%),
      0 40px darken(#444, 2%);
}

.black:nth-child(-n + 15)::before{
  left: 99%;
  -webkit-transform: rotateY(87deg);
          transform: rotateY(87deg);
}

/* STATUSBAR */

.statusbar {
  background-color: rgba(54, 0, 48, .7);
  padding: 32px;
  padding: 2rem;
  font-size: 24px;
  font-size: 1.5rem;
  color: #778d1e;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 200;
}

/* CHAT */

/* .chat-inputfield {
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
  margin: 0 auto;
  outline: none;
  color: #778d1e;
  border-bottom: 1px solid #778d1e;
} */

/*# sourceMappingURL=style.css.map*/