@import 'reset';

html {
  height: 100%;
  overflow: hidden;
}

body {
  background: url('../assets/bg.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 3rem;
  margin: 2rem;
  background-color: #0A1A3A;
}

.container {
  perspective: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.logo {
  background: url('../assets/logo.png') no-repeat center center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.grain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  opacity: .40;
  pointer-events: none;
  overflow: hidden;
}

.key {
  width: 5%;
  height: 200px;
  position: relative;
  float: left;
}

.white {
  background-color: #FFF;
  border-right: 2px solid #000;
}

.black {
  background-color: #000;
  height: 100px;
  color: #FFF;
  width: 4%;
  z-index: 10;
  margin-left: -1%;
}

.black + .white {
  margin-left: -3%;
}

/* CHAT */

.chat-wrapper {
  width: 300px;
  height: 100%;
  background-color: rgba(53, 9, 53, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

/* PIANO */

.piano-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  perspective: 600px;
}

.piano {
  margin: -200px auto 100px;
  height: 500px;
  display: flex;
  flex-direction: row;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: rotateX(50deg);
  animation: piano 0.6s 0.8s ease;
  animation-fill-mode: backwards;
  transition: transform 0.3s ease;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background: darken(#444, 3%);
    background-clip: content-box;
    top: 0;
    left: 6px;
    right: 6px;
    bottom: 0;
    transform: translateZ(-76px);
    box-shadow: 0 0 40px fade(#444, 40%), 0 0 0 100px white;
  }

  &::after {
    left: 25px;
    right: 25px;
    bottom: auto;
    height: 79px;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
}

.white {
  background-color: #edefee;
  background-clip: content-box;
  margin: 0 2px;
  outline: none;
  transform-origin: top;
  transform-style: preserve-3d;
  box-shadow: inset 2px 0 2px -1px fade(white, 80%), inset -2px 0 2px -1px fade(white, 80%), inset 10px -10px 10px -10px fade(#444, 30%), inset -10px 0 10px -10px fade(#444, 30%), inset 0 -200px 200px -200px fade(white, 70%), inset 0 0 0 1000px fade(#edefee, 50%);
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:active {
    transform: rotateX(-7deg);
  }

  &:hover {
      background-color: #FFF;

      &::before {
          background: #FFF;
      }
  }

  /* 3D front key effect */
  &::before,
  &::after {
    content: '';
    background: #edefee;
    position: absolute;
    height: 252px;
    top: -250px;
    left: 0;
    box-shadow: inset 0 200px 200px -200px fade(#444, 30%), inset 10px 10px 10px -10px fade(#444, 30%), inset -10px 0 10px -10px fade(#444, 30%), inset 0 0 0 1000px fade(#edefee, 50%);
    transition: background 0.3s ease;
  }

  /* 3D front key effect */
  &::after {
    top: 100%;
    width: 100%;
    height: 76px;
    transform-origin: top;
    transform: rotateX(-90deg);
    box-shadow: inset 0 -30px 50px -30px fade(black, 30%), inset 0 2px 1px #FFF, inset 0 4px fade(#000, 10%), inset 0 10px 10px -10px fade(#000, 40%);
  }
}

.black {
  color: #444;
  background: lighten(#444, 10%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transform: translateZ(35px);
  transform-style: preserve-3d;
  transform-origin: top;
  box-shadow: inset 0 -7px 5px, inset 4px 0 5px, inset -4px 0 5px, inset 0 0 0 1000px fade(lighten(#444, 10%), 50%);
  z-index: 1;
  transition: background 0.3s ease, transform 0.3s ease;

  &:active {
    transform: rotateX(-5deg) translateZ(35px);
  }

  &:hover {
      background: darken(white, 50%);
  }

  &::before {
    content: '';
    position: absolute;
    background: #444;
    border-top-left-radius: 6px;
    top: 0;
    height: 100%;
    width: 39px;
    transform-origin: left;
    left: 1px;
    transform: rotateY(93deg);
    box-shadow: inset -50px 0 50px -50px black;
  }

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: -2px;
    width: 100%;
    border-bottom: 31px solid darken(#444, 2%);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    height: 0;
    transform-origin: top;
    transform: rotateX(-90deg);
    box-shadow: 0 7px 20px fade(black, 25%), 0 3px 5px -2px fade(white, 80%), 0 5px, 0 20px darken(#444, 2%), 0 40px darken(#444, 2%);
  }
}
